services:
  qemu:
    image: qemux/qemu
    container_name: qemu
    environment:
      BOOT: "alpine"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:80
    volumes:
      - ./qemu:/storage
    restart: always
    stop_grace_period: 2m
